@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
/*--- Home ---*/
.HomeBackground
{
    background: url(nasaHome.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: linear-gradient(
                     rgba(20,20,20, .5), 
                     rgba(20,20,20, .5));
}
.container
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    font-family: 'IBM Plex Sans';
}
.content
{
    font-family: 'IBM Plex Sans';
    text-align: center
}

.iam
{
    color: #7FFF00;
    font-Size: 5vw;
}

.hello
{
    color: white;
    font-size: 2vw;
}
/*--- navigation bar ---*/
.nav-links
{
    font-family: 'IBM Plex Sans';
}

/*--- scroll behavior ---*/
html {
  scroll-behavior: smooth;
}

/* Projects */
#Project
{
    background-color: coral;
}