{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <!-- bootstrap stuff -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'pages/styles.css' %}"
        <!-- icon ref -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title></title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script>
            // Select all links with hashes
            $('a[href*="#"]')
              // Remove links that don't actually link to anything
              .not('[href="#"]')
              .not('[href="#0"]')
              .click(function(event) {
                // On-page links
                if (
                  location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
                  &&
                  location.hostname == this.hostname
                ) {
                  // Figure out element to scroll to
                  var target = $(this.hash);
                  target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                  // Does a scroll target exist?
                  if (target.length) {
                    // Only prevent default if animation is actually gonna happen
                    event.preventDefault();
                    $('html, body').animate({
                      scrollTop: target.offset().top
                    }, 1000, function() {
                      // Callback after animation
                      // Must change focus!
                      var $target = $(target);
                      $target.focus();
                      if ($target.is(":focus")) { // Checking if the target was focused
                        return false;
                      } else {
                        $target.attr('tabindex','-1'); // Adding tabindex for elements not focusable
                        $target.focus(); // Set focus again
                      };
                    });
                  }
                }
              });
        </script>
    </head>
    <body>
        <!-- nav bar -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse mr-auto" id="navbarNavDropdown">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                    <a class="nav-link" href="#Home">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#About">About</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#Projects">Projects</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="https://www.linkedin.com/in/asif-ally/" class="nav-item nav-link"><i class="fa fa-linkedin"></i></a>
                    </li>
                    <li class="nav-item">
                        <a href="https://github.com/asifally" class="nav-item nav-link"><i class="fa fa-github"></i></a>
                    </li>
                </ul>
            </div>   
        </nav>
        
        <!-- end of nav bar -->
        <main>
            <!-- Home -->
            <section>
                <div class="Home">
                    <div class="container" id = "Home">
                        <div class="center">
                            <h2 class="hello">HELLO, MY NAME IS ASIF</h2>
                            <h1 class="iam">I AM A PROGRAMMER</h1>
                            <form action="https://www.linkedin.com/in/asif-ally/">
                                <button type="submit" class="btn btn-outline-light" style="font-size: xx-large;">HIRE ME</button>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            <!-- About -->
            <section>
                <div class="about" id="About">
                    <div class="test">
                        <div class="jumbotron">
                            <h1 class="display-4">Education</h1>
                            <hr class="my-4">
                            <div class="timeblock">
                                <p>2016-2020</p>
                            </div>
                            <p class="lead">University of Minnesota - Twin Cities</p>
                            <p>Major: Physics, B.A.</p>
                        </div>
                    </div>
                    <div class="test">
                        <div class="jumbotron">
                        <h1 class="display-4">Experiences</h1>
                        <hr class="my-4">
                        <div class="timeblock">
                            <p>2018-2020</p>
                        </div>
                        <p class="lead">NASA's MN Space Grant Consortium</p>
                        <p>Research Lead</p>
                        <div class="timeblock">
                            <p>2017-2020</p>
                        </div>
                        <p class="lead">UMN - Office Of Information Technology</p>
                        <p>Student Assitant</p>
                    </div>
                </div> 
            </section>
            <!-- Projects -->
            <section id="Projects">
                <div class="projects">
                    <div class="jumbotron" style="background: transparent !important;">
                        <div class="card-deck">
                            <div class="card">
                              <img style="height: auto; max-width: 100%;" src="{% static "pages/closeEats.png" %}" class="card-img-top img-fluid" alt="closeEats front page">
                              <div class="card-body">
                                <h3 class="card-title" style="font-weight: bold; text-align:center;">closeEats</h5>
                                <hr class="my-4">
                                <p class="card-text">Skills Utilized:</p>
                                <ul>
                                    <li>Python</li>
                                    <li>Django</li>
                                    <li>Yelp Fusion API</li>
                                    <li>Html/CSS</li>
                                    <li>JavaScript</li>
                                    <li>Bootstrap4</li>
                                </ul>
                                <form action="https://github.com/asifally/foodNearby" style="text-align:center;">
                                    <button type="submit" class="btn btn-outline-success" style="font-size: large; text-align: center;">CODE</button>
                                </form>
                              </div>
                            </div>
                            <div class="card">
                                <img style="height: auto; max-width: 100%;" src="{% static "pages/arrow_defense.jpg" %}" class="card-img-top img-fluid" alt="Screenshot of Arrow Defense">
                                <div class="card-body">
                                    <h3 class="card-title" style="font-weight: bold; text-align:center;">Arrow Defense</h5>
                                    <hr class="my-4">
                                    <p class="card-text">Skills Utilized:</p>
                                    <ul>
                                        <li>Python</li>
                                        <li>Pygame</li>
                                        <li>OOP</li>
                                    </ul>
                                    <br></br>
                                    <p></p>                                   
                                    <form action="https://github.com/asifally/Arrow_Defense" style="text-align:center;">
                                        <button type="submit" class="btn btn-outline-success" style="font-size: large; text-align: center; position: relative; top: 1vh">CODE</button>
                                    </form>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <h3 class="card-title" style="font-weight: bold;">Workout Tracker - Coming Soon..</h5>
                                    <hr class="my-4">
                                    <p class="card-text">Skills Utilized:</p>
                                    <ul>
                                        <li>JavaScript</li>
                                        <li>React Native</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            <!-- Footer -->
            <footer class="page-footer font-small blue">

                <!-- Copyright -->
                <div class="footer-copyright text-center py-3">© 2020
                    <a href="https://www.linkedin.com/in/asif-ally/">Asif Ally</a>
                </div>
                <!-- Copyright -->
            
            </footer>
            <!-- Footer -->
        </main>

    <!-- More bootstrap stuff -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-
    q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-
    ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    </body>
</html>
