{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <!-- bootstrap stuff -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'pages/styles.css' %}"

        <title></title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script>
            // Select all links with hashes
            $('a[href*="#"]')
              // Remove links that don't actually link to anything
              .not('[href="#"]')
              .not('[href="#0"]')
              .click(function(event) {
                // On-page links
                if (
                  location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
                  &&
                  location.hostname == this.hostname
                ) {
                  // Figure out element to scroll to
                  var target = $(this.hash);
                  target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                  // Does a scroll target exist?
                  if (target.length) {
                    // Only prevent default if animation is actually gonna happen
                    event.preventDefault();
                    $('html, body').animate({
                      scrollTop: target.offset().top
                    }, 1000, function() {
                      // Callback after animation
                      // Must change focus!
                      var $target = $(target);
                      $target.focus();
                      if ($target.is(":focus")) { // Checking if the target was focused
                        return false;
                      } else {
                        $target.attr('tabindex','-1'); // Adding tabindex for elements not focusable
                        $target.focus(); // Set focus again
                      };
                    });
                  }
                }
              });
        </script>
    </head>
    <body>
        <!-- nav bar -->
        <div class="HomeBackground">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item active">
                    <a class="nav-link" href="#Home">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#About">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#Projects">Projects</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      My links
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="https://www.linkedin.com/in/asif-ally/">LinkedIn</a>
                      <a class="dropdown-item" href="https://github.com/asifally">GitHub</a>
                      <a class="dropdown-item" href="https://stackoverflow.com/users/13765020/asif-ally?tab=profile">StackOverflow</a>
                    </div>
                  </li>
                </ul>
              </div>
            </nav>
        </div>

        <!-- end of nav bar -->
        <main class = "font">
            <div class="HomeBackground">
                <div class="container" id = "Home">
                    <div class="content">
                        <h2 class="hello">HELLO WORLD, MY NAME IS ASIF</h2>
                        <h1 class="iam">I AM A PROGRAMMER</h1>
                    </div>
                </div>
            </div>
            <div class = "AboutBackground" id = "About">
                <div class ="about-section">
                    <div class="about-section-head">
                        <center>
                        <h2>About Me</h2>
                        </center>
                    </div>
                    <div class="about-section-grids">
                        <div class="col-md-4 about-section-grid-1">
                            <h4></h4>
                        </div>

                    </div>
                </div>
            </div>
            <div class="ProjectsBackground" id="Projects">
                <div class="projects-section">
                    <div class="projects-section-head">
                        <center>
                            <h2>Portfolio</h2>
                        </center>
                    </div>
                </div>
            </div>
        </main>

    <!-- More bootstrap stuff -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-
    q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-
    ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    </body>
</html>
